<div th:fragment="createDeveloper">
    <div class="modal fade" id="addDeveloper" tabindex="-1" aria-labelledby="addDeveloperLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <form class="row g-3" action="#" th:action="@{/createDeveloperPerson}" th:object="${developerPersonDto}" method="POST">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addDeveloperLabel">Добавление в базу разработчиков</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Отменить"></button>
                    </div>
                    <div class="modal-body row g-3">
                        <div class="col-md-4">
                            <label for="firstNameDeveloper" class="form-label">Имя</label>
                            <input type="text" class="form-control" id="firstNameDeveloper" th:field="*{firstName}">
                        </div>
                        <div class="col-md-4">
                            <label for="lastNameDeveloper" class="form-label">Фамилия</label>
                            <input type="text" class="form-control" id="lastNameDeveloper" th:field="*{lastName}">
                        </div>

                        <div class="col-md-5">
                            <label for="phoneDeveloper" class="form-label">Телефон разработчика</label>
                            <input type="text" class="form-control" id="phoneDeveloper" th:field="*{phone}" placeholder="+0-000-000-00-00">
                        </div>
                        <div class="col-md-6">
                            <label for="emailDeveloper" class="form-label">Адрес электронной почты</label>
                            <input type="email" class="form-control" id="emailDeveloper" th:field="*{email}" placeholder="name@example.com">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

